$body: #F9F9F9;

//colors

$violet: #6139EA;
$blue: #30A3FE;
$black: #160B31;
$grey-1: #443C56;
$grey-2: #716B81;
$grey-3: #A3A1AF;
$grey-4: #E0E0E0;
$gradient:  linear-gradient(101.55deg, #829DFF 7.8%, #7963FE 34.8%, #8C56DF 61.3%, #C127BB 105.62%);

//fonts

$gilroy-b: "Gilroy-Bold", sans-serif;
$gilroy-sb: "Gilroy-Semibold", sans-serif;
$mts-m: "MTS-Extended-Bold", sans-serif;
$mts-b: "MTS-Extended-Medium", sans-serif;